# üõí Taller de SQL - Caso Olist E-commerce

## Contexto del Negocio

**Olist** es una plataforma de e-commerce brasile√±a que conecta peque√±os y medianos comerciantes con clientes en todo Brasil. Funciona como un marketplace donde los vendedores publican sus productos y los clientes pueden comprarlos online.

El dataset contiene informaci√≥n de **~100,000 pedidos** realizados entre 2016 y 2018.

### Tu rol
Eres un **Analista de Datos** en Olist. El equipo de negocio necesita respuestas a preguntas clave sobre ventas, clientes y productos para tomar decisiones estrat√©gicas.

---

## üìä Estructura del Dataset

El dataset tiene **9 tablas** relacionadas:

```
‚îå‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îê      ‚îå‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îê      ‚îå‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îê
‚îÇ   customers     ‚îÇ      ‚îÇ     orders       ‚îÇ      ‚îÇ    sellers      ‚îÇ
‚îÇ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÇ      ‚îÇ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÇ      ‚îÇ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÇ
‚îÇ customer_id (PK)‚îÇ‚óÑ‚îÄ‚îÄ‚îÄ‚îÄ‚ñ∫‚îÇ order_id (PK)    ‚îÇ      ‚îÇ seller_id (PK)  ‚îÇ
‚îÇ city            ‚îÇ      ‚îÇ customer_id (FK) ‚îÇ      ‚îÇ city            ‚îÇ
‚îÇ state           ‚îÇ      ‚îÇ order_status     ‚îÇ      ‚îÇ state           ‚îÇ
‚îî‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îò      ‚îÇ purchase_date    ‚îÇ      ‚îî‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îò
                         ‚îÇ delivered_date   ‚îÇ               ‚îÇ
                         ‚îî‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îò               ‚îÇ
                                  ‚îÇ                         ‚îÇ
                         ‚îå‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚ñº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îê               ‚îÇ
                         ‚îÇ   order_items    ‚îÇ‚óÑ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îò
                         ‚îÇ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÇ
                         ‚îÇ order_id (FK)    ‚îÇ      ‚îå‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îê
                         ‚îÇ product_id (FK)  ‚îÇ‚óÑ‚îÄ‚îÄ‚îÄ‚îÄ‚ñ∫‚îÇ    products     ‚îÇ
                         ‚îÇ seller_id (FK)   ‚îÇ      ‚îÇ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÇ
                         ‚îÇ price            ‚îÇ      ‚îÇ product_id (PK) ‚îÇ
                         ‚îÇ freight_value    ‚îÇ      ‚îÇ category_name   ‚îÇ
                         ‚îî‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îò      ‚îî‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îò
                                  ‚îÇ
                         ‚îå‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚ñº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îê      ‚îå‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îê
                         ‚îÇ  order_payments  ‚îÇ      ‚îÇ  order_reviews  ‚îÇ
                         ‚îÇ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÇ      ‚îÇ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÇ
                         ‚îÇ order_id (FK)    ‚îÇ      ‚îÇ order_id (FK)   ‚îÇ
                         ‚îÇ payment_type     ‚îÇ      ‚îÇ review_score    ‚îÇ
                         ‚îÇ payment_value    ‚îÇ      ‚îÇ review_comment  ‚îÇ
                         ‚îî‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îò      ‚îî‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îò
```

---

## ‚öôÔ∏è Configuraci√≥n Inicial

Primero, descargamos el dataset y configuramos la base de datos SQLite.

In [ ]:
# Instalaci√≥n de dependencias
!pip install pandas sqlalchemy kaggle --quiet

In [ ]:
# Descarga del dataset de Kaggle
# NOTA: Necesitas configurar tu API key de Kaggle
# 1. Ve a kaggle.com -> Account -> Create New API Token
# 2. Coloca el archivo kaggle.json en ~/.kaggle/

!kaggle datasets download -d olistbr/brazilian-ecommerce --unzip -p ./data/

In [ ]:
# Alternativa: Si no tienes Kaggle configurado, 
# descarga manualmente desde: https://www.kaggle.com/datasets/olistbr/brazilian-ecommerce
# y descomprime en la carpeta ./data/

import os
import pandas as pd
import sqlite3

# Verificar que los archivos existen
data_path = './data/'
archivos = os.listdir(data_path) if os.path.exists(data_path) else []
print("Archivos disponibles:")
for f in archivos:
    print(f"  - {f}")

In [ ]:
# Crear base de datos SQLite con los datos de Olist

def crear_base_datos():
    """Carga todos los CSVs en una base de datos SQLite"""
    
    conn = sqlite3.connect('olist.db')
    
    # Mapeo de archivos a nombres de tablas (m√°s cortos y amigables)
    tablas = {
        'olist_customers_dataset.csv': 'customers',
        'olist_orders_dataset.csv': 'orders',
        'olist_order_items_dataset.csv': 'order_items',
        'olist_order_payments_dataset.csv': 'order_payments',
        'olist_order_reviews_dataset.csv': 'order_reviews',
        'olist_products_dataset.csv': 'products',
        'olist_sellers_dataset.csv': 'sellers',
        'olist_geolocation_dataset.csv': 'geolocation',
        'product_category_name_translation.csv': 'category_translation'
    }
    
    for archivo, nombre_tabla in tablas.items():
        ruta = os.path.join(data_path, archivo)
        if os.path.exists(ruta):
            df = pd.read_csv(ruta)
            df.to_sql(nombre_tabla, conn, if_exists='replace', index=False)
            print(f"‚úì Tabla '{nombre_tabla}' creada con {len(df):,} registros")
        else:
            print(f"‚úó Archivo no encontrado: {archivo}")
    
    conn.close()
    print("\n‚úÖ Base de datos 'olist.db' creada exitosamente!")

crear_base_datos()

In [ ]:
# Configurar conexi√≥n para ejecutar SQL directamente en las celdas

%load_ext sql
%sql sqlite:///olist.db

print("‚úÖ Conexi√≥n establecida. Puedes usar %%sql para ejecutar consultas.")

---

## üîπ PARTE 1: Exploraci√≥n B√°sica (SELECT, WHERE, ORDER BY)

### Objetivo de Negocio
Antes de hacer an√°lisis complejos, necesitamos **entender los datos** que tenemos disponibles.

### Ejercicio 1.1 - Conocer las tablas

**Pregunta de negocio:** ¬øQu√© informaci√≥n tenemos disponible en la base de datos?

Ejecuta la siguiente consulta para ver las tablas disponibles:

In [ ]:
%%sql
SELECT name FROM sqlite_master WHERE type='table';

### Ejercicio 1.2 - Explorar la tabla de pedidos

**Pregunta de negocio:** ¬øC√≥mo se ve un pedido en nuestro sistema?

Muestra los primeros 5 registros de la tabla `orders`:

In [ ]:
%%sql
-- Tu c√≥digo aqu√≠
SELECT * FROM orders LIMIT 5;

### Ejercicio 1.3 - Estados de los pedidos

**Pregunta de negocio:** ¬øQu√© estados puede tener un pedido?

Lista los valores √∫nicos de `order_status`:

In [ ]:
%%sql
-- Tu c√≥digo aqu√≠

<details>
<summary>üí° Ver soluci√≥n</summary>

```sql
SELECT DISTINCT order_status 
FROM orders;
```
</details>

### Ejercicio 1.4 - Filtrar pedidos entregados

**Pregunta de negocio:** ¬øCu√°ntos pedidos han sido entregados exitosamente?

Cuenta los pedidos con `order_status = 'delivered'`:

In [ ]:
%%sql
-- Tu c√≥digo aqu√≠

<details>
<summary>üí° Ver soluci√≥n</summary>

```sql
SELECT COUNT(*) as pedidos_entregados
FROM orders
WHERE order_status = 'delivered';
```
</details>

### Ejercicio 1.5 - Productos m√°s caros

**Pregunta de negocio:** ¬øCu√°les son los 10 productos m√°s caros vendidos?

Consulta la tabla `order_items` y ordena por `price` descendente:

In [ ]:
%%sql
-- Tu c√≥digo aqu√≠

<details>
<summary>üí° Ver soluci√≥n</summary>

```sql
SELECT order_id, product_id, price
FROM order_items
ORDER BY price DESC
LIMIT 10;
```
</details>

---

## üîπ PARTE 2: Agregaciones (COUNT, SUM, AVG, GROUP BY)

### Objetivo de Negocio
Ahora que conocemos los datos, vamos a **resumir y agregar** informaci√≥n para obtener m√©tricas clave.

### Ejercicio 2.1 - Resumen general de pedidos

**Pregunta de negocio:** ¬øCu√°l es el resumen general de nuestros pedidos?

Calcula:
- Total de pedidos
- Pedidos por cada estado

In [ ]:
%%sql
-- Tu c√≥digo aqu√≠

<details>
<summary>üí° Ver soluci√≥n</summary>

```sql
SELECT 
    order_status,
    COUNT(*) as cantidad,
    ROUND(COUNT(*) * 100.0 / (SELECT COUNT(*) FROM orders), 2) as porcentaje
FROM orders
GROUP BY order_status
ORDER BY cantidad DESC;
```
</details>

### Ejercicio 2.2 - M√©tricas de ventas

**Pregunta de negocio:** ¬øCu√°l es el valor total de ventas, el ticket promedio y el precio m√°ximo?

Usa la tabla `order_items`:

In [ ]:
%%sql
-- Tu c√≥digo aqu√≠

<details>
<summary>üí° Ver soluci√≥n</summary>

```sql
SELECT 
    COUNT(*) as total_items,
    ROUND(SUM(price), 2) as ingresos_totales,
    ROUND(AVG(price), 2) as ticket_promedio,
    MAX(price) as precio_maximo,
    MIN(price) as precio_minimo
FROM order_items;
```
</details>

### Ejercicio 2.3 - M√©todos de pago preferidos

**Pregunta de negocio:** ¬øQu√© m√©todos de pago prefieren nuestros clientes?

Agrupa por `payment_type` y cuenta cu√°ntas veces se usa cada uno:

In [ ]:
%%sql
-- Tu c√≥digo aqu√≠

<details>
<summary>üí° Ver soluci√≥n</summary>

```sql
SELECT 
    payment_type,
    COUNT(*) as cantidad_usos,
    ROUND(SUM(payment_value), 2) as valor_total,
    ROUND(AVG(payment_value), 2) as valor_promedio
FROM order_payments
GROUP BY payment_type
ORDER BY cantidad_usos DESC;
```
</details>

### Ejercicio 2.4 - Ventas por estado (ubicaci√≥n)

**Pregunta de negocio:** ¬øCu√°les son los 5 estados brasile√±os con m√°s clientes?

Usa la tabla `customers`:

In [ ]:
%%sql
-- Tu c√≥digo aqu√≠

<details>
<summary>üí° Ver soluci√≥n</summary>

```sql
SELECT 
    customer_state,
    COUNT(*) as total_clientes
FROM customers
GROUP BY customer_state
ORDER BY total_clientes DESC
LIMIT 5;
```
</details>

### Ejercicio 2.5 - An√°lisis de reviews

**Pregunta de negocio:** ¬øCu√°l es la distribuci√≥n de las calificaciones de los clientes?

Agrupa por `review_score` de la tabla `order_reviews`:

In [ ]:
%%sql
-- Tu c√≥digo aqu√≠

<details>
<summary>üí° Ver soluci√≥n</summary>

```sql
SELECT 
    review_score,
    COUNT(*) as cantidad,
    ROUND(COUNT(*) * 100.0 / (SELECT COUNT(*) FROM order_reviews), 2) as porcentaje
FROM order_reviews
GROUP BY review_score
ORDER BY review_score DESC;
```
</details>

---

## üîπ PARTE 3: JOINs - Conectando Tablas

### Objetivo de Negocio
La informaci√≥n √∫til est√° distribuida en varias tablas. Necesitamos **combinarlas** para responder preguntas m√°s complejas.

### Ejercicio 3.1 - Pedidos con informaci√≥n del cliente

**Pregunta de negocio:** ¬øDe qu√© ciudades provienen los pedidos m√°s recientes?

Une `orders` con `customers` para ver la ciudad de cada pedido:

In [ ]:
%%sql
-- Tu c√≥digo aqu√≠

<details>
<summary>üí° Ver soluci√≥n</summary>

```sql
SELECT 
    o.order_id,
    o.order_purchase_timestamp,
    c.customer_city,
    c.customer_state
FROM orders o
INNER JOIN customers c ON o.customer_id = c.customer_id
ORDER BY o.order_purchase_timestamp DESC
LIMIT 10;
```
</details>

### Ejercicio 3.2 - Ingresos por categor√≠a de producto

**Pregunta de negocio:** ¬øCu√°les son las categor√≠as de productos que generan m√°s ingresos?

Une `order_items` con `products` para obtener la categor√≠a:

In [ ]:
%%sql
-- Tu c√≥digo aqu√≠

<details>
<summary>üí° Ver soluci√≥n</summary>

```sql
SELECT 
    p.product_category_name,
    COUNT(*) as items_vendidos,
    ROUND(SUM(oi.price), 2) as ingresos_totales,
    ROUND(AVG(oi.price), 2) as precio_promedio
FROM order_items oi
INNER JOIN products p ON oi.product_id = p.product_id
WHERE p.product_category_name IS NOT NULL
GROUP BY p.product_category_name
ORDER BY ingresos_totales DESC
LIMIT 10;
```
</details>

### Ejercicio 3.3 - Categor√≠as en ingl√©s

**Pregunta de negocio:** ¬øC√≥mo se llaman las categor√≠as top en ingl√©s?

Une con la tabla `category_translation`:

In [ ]:
%%sql
-- Tu c√≥digo aqu√≠

<details>
<summary>üí° Ver soluci√≥n</summary>

```sql
SELECT 
    ct.product_category_name_english as categoria,
    COUNT(*) as items_vendidos,
    ROUND(SUM(oi.price), 2) as ingresos_totales
FROM order_items oi
INNER JOIN products p ON oi.product_id = p.product_id
LEFT JOIN category_translation ct ON p.product_category_name = ct.product_category_name
WHERE p.product_category_name IS NOT NULL
GROUP BY ct.product_category_name_english
ORDER BY ingresos_totales DESC
LIMIT 10;
```
</details>

### Ejercicio 3.4 - Pedidos con reviews negativos

**Pregunta de negocio:** ¬øQu√© pedidos recibieron calificaciones de 1 o 2 estrellas y de qu√© estados son?

Une `orders`, `customers` y `order_reviews`:

In [ ]:
%%sql
-- Tu c√≥digo aqu√≠

<details>
<summary>üí° Ver soluci√≥n</summary>

```sql
SELECT 
    c.customer_state,
    COUNT(*) as reviews_negativos,
    ROUND(AVG(r.review_score), 2) as score_promedio
FROM orders o
INNER JOIN customers c ON o.customer_id = c.customer_id
INNER JOIN order_reviews r ON o.order_id = r.order_id
WHERE r.review_score <= 2
GROUP BY c.customer_state
ORDER BY reviews_negativos DESC
LIMIT 10;
```
</details>

### Ejercicio 3.5 - An√°lisis de vendedores

**Pregunta de negocio:** ¬øCu√°les son los 5 vendedores con m√°s ventas y de qu√© estados son?

Une `order_items` con `sellers`:

In [ ]:
%%sql
-- Tu c√≥digo aqu√≠

<details>
<summary>üí° Ver soluci√≥n</summary>

```sql
SELECT 
    s.seller_id,
    s.seller_city,
    s.seller_state,
    COUNT(*) as items_vendidos,
    ROUND(SUM(oi.price), 2) as ingresos_totales
FROM order_items oi
INNER JOIN sellers s ON oi.seller_id = s.seller_id
GROUP BY s.seller_id, s.seller_city, s.seller_state
ORDER BY ingresos_totales DESC
LIMIT 5;
```
</details>

---

## üîπ PARTE 4: Subconsultas y An√°lisis Avanzado

### Objetivo de Negocio
Para an√°lisis m√°s sofisticados, necesitamos usar **subconsultas** y combinar m√∫ltiples operaciones.

### Ejercicio 4.1 - Pedidos sobre el promedio

**Pregunta de negocio:** ¬øCu√°ntos pedidos tienen un valor superior al promedio?

Usa una subconsulta para calcular el promedio:

In [ ]:
%%sql
-- Tu c√≥digo aqu√≠

<details>
<summary>üí° Ver soluci√≥n</summary>

```sql
SELECT 
    COUNT(*) as pedidos_sobre_promedio,
    (SELECT ROUND(AVG(price), 2) FROM order_items) as precio_promedio
FROM order_items
WHERE price > (SELECT AVG(price) FROM order_items);
```
</details>

### Ejercicio 4.2 - Clientes VIP

**Pregunta de negocio:** ¬øQui√©nes son los clientes que han gastado m√°s de R$1000 en total?

Une las tablas necesarias y filtra con HAVING:

In [ ]:
%%sql
-- Tu c√≥digo aqu√≠

<details>
<summary>üí° Ver soluci√≥n</summary>

```sql
SELECT 
    c.customer_id,
    c.customer_city,
    c.customer_state,
    COUNT(DISTINCT o.order_id) as total_pedidos,
    ROUND(SUM(oi.price), 2) as gasto_total
FROM customers c
INNER JOIN orders o ON c.customer_id = o.customer_id
INNER JOIN order_items oi ON o.order_id = oi.order_id
GROUP BY c.customer_id, c.customer_city, c.customer_state
HAVING SUM(oi.price) > 1000
ORDER BY gasto_total DESC
LIMIT 10;
```
</details>

### Ejercicio 4.3 - Categor√≠as con mejor review

**Pregunta de negocio:** ¬øCu√°les son las 5 categor√≠as de productos con mejor promedio de calificaci√≥n?

(Solo considera categor√≠as con al menos 100 reviews)

In [ ]:
%%sql
-- Tu c√≥digo aqu√≠

<details>
<summary>üí° Ver soluci√≥n</summary>

```sql
SELECT 
    ct.product_category_name_english as categoria,
    COUNT(*) as total_reviews,
    ROUND(AVG(r.review_score), 2) as score_promedio
FROM order_reviews r
INNER JOIN orders o ON r.order_id = o.order_id
INNER JOIN order_items oi ON o.order_id = oi.order_id
INNER JOIN products p ON oi.product_id = p.product_id
LEFT JOIN category_translation ct ON p.product_category_name = ct.product_category_name
WHERE ct.product_category_name_english IS NOT NULL
GROUP BY ct.product_category_name_english
HAVING COUNT(*) >= 100
ORDER BY score_promedio DESC
LIMIT 5;
```
</details>

### Ejercicio 4.4 - An√°lisis temporal de ventas

**Pregunta de negocio:** ¬øC√≥mo han evolucionado las ventas mes a mes?

Agrupa por a√±o-mes las ventas:

In [ ]:
%%sql
-- Tu c√≥digo aqu√≠

<details>
<summary>üí° Ver soluci√≥n</summary>

```sql
SELECT 
    strftime('%Y-%m', o.order_purchase_timestamp) as mes,
    COUNT(DISTINCT o.order_id) as total_pedidos,
    ROUND(SUM(oi.price), 2) as ingresos
FROM orders o
INNER JOIN order_items oi ON o.order_id = oi.order_id
WHERE o.order_status = 'delivered'
GROUP BY strftime('%Y-%m', o.order_purchase_timestamp)
ORDER BY mes;
```
</details>

---

## üéØ DESAF√çO FINAL

### Reporte Ejecutivo

El CEO de Olist necesita un **reporte ejecutivo** con las siguientes m√©tricas:

1. **Total de ingresos** (solo pedidos entregados)
2. **Ticket promedio** por pedido
3. **Top 3 categor√≠as** por ingresos
4. **Top 3 estados** por n√∫mero de clientes
5. **Calificaci√≥n promedio** general

Crea las consultas necesarias para generar este reporte:

In [ ]:
%%sql
-- DESAF√çO: Tu reporte ejecutivo aqu√≠

---

## üìù Resumen de Conceptos SQL

| Concepto | Ejemplo | Uso |
|----------|---------|-----|
| SELECT | `SELECT columna FROM tabla` | Seleccionar datos |
| WHERE | `WHERE precio > 100` | Filtrar filas |
| ORDER BY | `ORDER BY fecha DESC` | Ordenar resultados |
| LIMIT | `LIMIT 10` | Limitar resultados |
| GROUP BY | `GROUP BY categoria` | Agrupar para agregar |
| HAVING | `HAVING COUNT(*) > 5` | Filtrar grupos |
| COUNT/SUM/AVG | `SUM(precio)` | Funciones de agregaci√≥n |
| INNER JOIN | `JOIN tabla ON a.id = b.id` | Combinar tablas |
| LEFT JOIN | `LEFT JOIN tabla ON ...` | Incluir no coincidencias |
| Subconsulta | `WHERE x > (SELECT AVG...)` | Consultas anidadas |

---

**¬°Felicitaciones!** Has completado el taller de SQL con datos reales de e-commerce. üéâ